attrs==21.4.0
certifi==2023.11.17
cffi==1.15.0
charset-normalizer==3.3.2
cryptography==36.0.1
docopt==0.6.2
idna==3.6
iniconfig==1.1.1
isodate==0.6.1
jsonpickle==3.0.2
lxml==4.9.3
packaging==21.3
pika==1.2.0
platformdirs==4.1.0
pluggy==1.0.0
prometheus-client==0.13.1
py==1.11.0
pycparser==2.21
pydantic==1.9.0
pyOpenSSL==20.0.1
pyparsing==3.0.7
pytest==7.0.1
pytz==2023.3.post1
requests==2.31.0
requests-file==1.5.1
requests-toolbelt==1.0.0
schedule==1.2.1
six==1.16.0
stomp.py==8.0.0
tomli==2.0.1
typing_extensions==4.1.1
urllib3==2.1.0
xmltodict==0.13.0
zeep==4.2.1
